<div class="tab-collection-container" role="navigation">
  <div class="tab-collection">
    <ul class="tab-collection-left" role="tablist">
      <a class="tab VS gallery-element-focus-style-dark tabactive" role="tab" aria-controls="vs-tab-content" aria-selected="true" tabindex="0">
        <div class="header" data-bind="title: VS_Header, text: VS_Header">Visual Studio</div>
      </a>
      <a class="tab VSS gallery-element-focus-style-dark" role="tab" aria-controls="vsts-tab-content" tabindex="-1">
        <div class="header" data-bind="title: VSTS_Header, text: VSTS_Header">Visual Studio Team Services</div>
      </a>
      <a class="tab VSCode gallery-element-focus-style-dark" role="tab" aria-controls="vscode-tab-content" tabindex="-1">
        <div class="header" data-bind="title: VSCode_Header, text: VSCode_Header">Visual Studio Code</div>
      </a>
      <a class="tab VSSubs gallery-element-focus-style-dark" role="tab" aria-controls="vssubs-tab-content" tabindex="-1">
        <div class="header" data-bind="title: Subs_Header, text: Subs_Header">Subscriptions</div>
      </a>
    </ul>
    <div class="tab-collection-right">
      <a class="publish-extensions" target="_blank" href="https://go.microsoft.com/fwlink/?LinkID=703826">Build your own</a>
    </div>
  </div>
</div>
